
.list-group-item a{
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	font: 15px"Microsoft YaHei";
}
/*重新自定义carousel-caption*/
.carousel-caption{
	background: #000;
	color: #fff;
	opacity: 0.7;
	filter: alpha(opacity=70);
	font: 12px"Microsoft YaHei";
	width: 100%;
	left: 0px;
	bottom: 0px;
	padding: 0px 5px;
	text-align: left;
}
.userRegisterText{
	display: inline-block;
	width: 20%;
	text-align: right;
	padding-right: 5px;
	font: bold 15px "Microsoft YaHei";
	vertical-align: top;

}
.userRegisterInput{
	display: inline-block;
	width: 70%;
}
.userRegisterNotice{
	font:15px "Microsoft YaHei";
	color: #444;
	padding: 8px 0px;
}
/*选项卡*/
#tab_ul li  a:focus{
	background: #337AB7;
	color: #fff;
}
/*快捷通道*/
#divChannelLink .col-md-4 img{
	margin: 0 auto;
	transform: translateY(0rem);
	transition: all .25s ease;
}
#divChannelLink .col-md-4:hover img{
	transform: translateY(-1rem);
}
/*footer*/
#divFooter{
	background-color: #34383d;
	color: #fff;
	margin-top: 20px;
}
#divFooter .row div{
	color: #cccacc;
	font:15px/30px "Microsoft yahei";
}
#divFooter .row a{
	color: #cccacc;
}
#divFooter .row ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#divFooter .rowLinkLogo{
	padding: 30px 0;
	border-bottom: 1px solid #2b2e32;
}
.rowLinkLogo .leftLink{
	text-align: right;
	border-right: 1px solid #454a51;
}
.rowLinkLogo .centerLogo{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.rowLinkLogo .rightLink{
	text-align: left;
	border-left: 1px solid #454a51;
}
.divCopyright{
	background-color: #2b2e32;
	border-top: 1px solid #3e4348;
	padding: 20px 0px;
	text-align: center;
}
.divCopyright .center{
	color: #cccacc;
	font-weight: bold;
}




